p {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    text-align: justify;
    text-justify: inter-word;
}