*
{   
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

/* --> For background animation */
.container  
{
    display: flex;
    width: 100%;
    /* animation: color 12s ease-in-out infinite; */
    margin: 0;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* float: center; */
    text-align: center;
}
/* ** */
body
{
    width: 100%;
    background: linear-gradient(45deg, #7700ff, #c20202, #7700ff);
    background-size: 300% 300%;
    background-color: #7700ff;
    animation: color 12s ease-in-out infinite;
    margin: 0;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
    float: center;
    /* display: flex; */
    flex-direction: column;
}
 
/* --> For button MENU and EXIT */
.buttoncontainerinside
{
    display: inline-block;
    margin-top: 450px;
    margin-left: 80px;
}

/* --> For button SINGLEPLAYER */
.buttoncontainerhome
{
    display: inline-block;
    margin-top: 170px;
    margin-left: 65px;
}

/* --> For button HOME in winpage */
.buttoncontainerhome2winpage
{
    display: absolute;
    margin-top: 140px;
    margin-left: 65px;
}

/* --> For button YOU WIN ! */

.buttoncontainerwin
{
    display: absolute;
    margin-top: 320px;
    margin-left: 65px;
}

/* --> For button RESTART */
.buttoncontainerexit
{
    display: absolute;
    margin-top: 315px;
    margin-left: 70px;
}


/* --> For all buttons animations */
a:hover {
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);  
}

a:first-child {
    filter: hue-rotate(225deg);
}
a:last-child {
    filter: hue-rotate(90deg);
}

a span {
    position: absolute;
    display: block;
}

@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #03e9f4); 
    animation: animate1 1s linear infinite;
    animation-delay: 30ms;
}

@keyframes animate1 {
    0%{
        letf :-100px;
    }
    50%{
        left: 100%;
    }
}
a span:nth-child(2) {
    top: -100%;
    left: 0;
    width: 1px;
    height: 100%;  
    background: linear-gradient(180deg, transparent, #03e9f4); 
    animation: animate2 1s linear infinite;
    animation-delay: 30ms;
} 
@keyframes animate2 {
    0%{
        top: -100%;
    }
    100%{
        top: 100%;
    }
} 
a span :nth-child(3) {
    top: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, #03e9f4); 
    animation: animate3 1s linear infinite;
    animation-delay: 30ms;
}
@keyframes animate3 {
    0%{
        right: -100%;
    }
    100%{
        right: 100%;
    }
} 
a span:nth-child(4) {
    bottom: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4); 
    animation: animate4 1s linear infinite;
    animation-delay: 30ms;
}
@keyframes animate4 {
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 100%;
    }
}


.container { display: inline-block; }

/* ------------------------------------ */


.text {
    color: #fcd451;
    font-size: 5em;
    letter-spacing: 12px;
    font-family: 'PressStart2PRegular';
    border-left: 8px solid;
    border-right: 8px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2ms steps(40, end),
        cursor .5s step-end infinite alternate;
    text-align: center;
}


/* cursor blinking */
 
@keyframes cursor {
    50% { border-color: transparent; }
}

/* tapping effect */

@keyframes typing {
    from { width: 0 }
    50% { width: 100% }
}



/* ---------------------------------- */

.bloc {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* --> For buttons */
a {
    text-align: center;
    display: inline-block;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #03e9f4;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin-right: 70px;
}

/* --> For the Hangman Word */
b {
    color: #000000;
    position: absolute;
    margin-top: -25%;
    margin-left: 40%;
    font-size: 70px;
}

/* --> For the button NUMBER O LIFE */
b1 {
    font-weight: bold;  
    color: #ffffff;
    position: absolute;
    margin-top: -15%;
    margin-left: 48%;
    font-size: 70px;
}

/* --> For the button RESTART */
.buttonrestart
{
    position: absolute;
    margin-top: -250px;
    margin-left: 640px;
}

/* --> For the INPUT */
input
{
    position: absolute;
    margin-top: -310px;
    margin-left: 380px;
    /* width: 100px;
    height: 50px; */
    background-color: #03e9f4;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
/* --> For the button SEND */
button
{
    position: absolute;
    margin-top: -309px;
    margin-left: 515px;
    /* width: 100px;
    height: 50px; */
    background-color: #03e9f4;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}


/* --> For the BODY OF MISTER and his GUILLOITNE */

/* .hangman {
    position: relative;
    width: 200px;
    height: 300px;
    margin-left: 1150px;
    margin-top: -410px;
}

.hangman-part {
    position: absolute;
    background-color: #333;
    display: none;
} */

.head {
    top: 10px;
    left: 50%;
    margin-left: 1085px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #000000;
    margin-top: -420px;
}

.body {
    top: 60px;
    left: 50%;
    margin-left: 1090px;
    height: 80px;
    width: 20px;
    background-color: #000000; 
}

.left-arm {
    top: 60px;
    left: 45%;
    margin-left: 1060px;
    height: 10px;
    width: 40px;
    background-color: #000000; 
    transform-origin: 100% 50%; 
    transform: rotate(30deg);
    margin-top: -65px;
}

.right-arm {
    top: 60px;
    left: 55%;
    margin-left: 1100px;
    height: 10px;
    width: 40px;
    background-color: #000000;
    transform-origin: 0% 50%; 
    transform: rotate(-30deg);
    margin-top: -10px;
}

.left-leg {
    top: 140px;
    left: 50%;
    margin-left: 1090px;
    height: 60px;
    width: 8px;
    background-color: #000000; 
    transform-origin: 50% 0%; 
    transform: rotate(30deg);
    margin-top: 45px;
}

.right-leg {
    top: 140px;
    left: 50%;
    margin-left: 1102px;
    height: 60px;
    width: 8px;
    background-color: #000000; 
    transform-origin: 50% 0%; 
    transform: rotate(-30deg);
    margin-top: -60px;
}

/* .guillo {
    position: relative;
    width: 200px;
    height: 300px;
    margin-left: 1150px;
    margin-top: -410px;
} */


.ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 10px;
    background-color: #000000;
    margin-bottom: 85px;
    margin-left: 1090px;
}

.barverti {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 70%;
    background-color: #000000;
    margin-bottom: 90px;
    margin-left: 1300px;
    transform: rotate(0deg);
}

.top {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 10px;
    background-color: #000000;
    margin-bottom: 610px;
    margin-left: 1000px;
}

.rope {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 110px;
    background-color: #000000;
    margin-bottom: 510px;
    margin-left: 1095px;
}

.diplayallhang {
    display: none;
}


/* ---> For the message YOU ALREADY USED THIS LETTER */

b3
{ 
    position: absolute;
    margin-top: -450px;
    margin-left: 570px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

/* --> For the message THE WORD WAS in endpage */

b4
{ 
    position: absolute;
    margin-top: -130px;
    margin-left: -265px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}


img
{   
    width: 80px;
    position: absolute;
    margin-top: -370px;
    margin-left: -65px;
}

.pistol
{   
    position: absolute;
    margin-top: -65px;
    margin-left: 80px;
}

.pistolcopie
{   
    position: absolute;
    margin-top: -80px;
    margin-left: -160px;
    rotate: 180deg;
}

/* --> For HOME logo */

.logo
{   
    position: relative;
    margin-top: -40px;
    margin-left: 585px;
    width: 18%;
}

/* --> For INGAME logo in winpage */

.logo2
{   
    position: relative;
    margin-top: -40px;
    margin-left: 590px;
    width: 18%;
    margin-bottom: -80px;
}

.logo3
{   
    position: relative;
    margin-top: -40px;
    margin-left: 580px;
    width: 18%;
    margin-bottom: -150px;
}

.logo4
{   
    position: relative;
    margin-top: -40px;
    margin-left: 580px;
    width: 18%;
    margin-bottom: -220px;
}

.logo5
{   
    position: relative;
    margin-top: -40px;
    margin-left: 620px;
    width: 3%;
    margin-bottom: -270px;
}

.logo6
{   
    position: relative;
    margin-top: -50px;
    margin-left: 90px;
    width: 3%;
    margin-bottom: -270px;
}

.logo8
{   
    position: relative;
    margin-top: 50px;
    margin-left: 670px;
    width: 3%;
    margin-bottom: -250px;
}

.logo9
{   
    position: relative;
    margin-top: 50px;
    margin-left: -20px;
    width: 3%;
    margin-bottom: -250px;
} 